﻿@page "/"
@using PriceCalculator2.Shared
@inject HttpClient HttpClient

<h1>Hello, world!</h1>

Welcome to your new app.

@if (AvailableScreens == null)
{
<p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Diagnozė</th>
            <th><NavLink href="screen/diagnosis/0"><button>Add</button></NavLink></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var diagnosis in Diagnoses)
        {
            <tr>
                <td>@diagnosis.Id</td>
                <td>@diagnosis.Name</td>
                <td><NavLink href="@("screen/diagnosis/" + diagnosis.Id)">H</NavLink></td>
            </tr>
        }
        </tbody>
    </table>
}
}

@functions
{
    Screen[] AvailableScreens;

   protected override async Task OnInitAsync()
   {
       AvailableScreens = HttpClient.GetJsonAsync<Screen[]>("/api/Screens/GetScreens").Result;
   }

}
