﻿@using PriceCalculator2.Shared
@inject HttpClient HttpClient

<h1>Hello, world!</h1>

<table>
    <thead>
        <tr>
            <td></td>
        </tr>
    </thead>
</table>

@functions
{
  
   protected override async Task OnInitAsync()
   {
       AvailableScreens = HttpClient.GetJsonAsync<Screen[]>("/api/Screens/GetScreens").Result;
   }

}
